<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <header th:insert="blocks/style :: bg-style"/>
    <style>
        img{
         height: auto;
         max-width: 100%;
         display: block;
        }
    </style>
</head>
<body>
    <div class="container">
        <header th:insert="blocks/header :: header"/>
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Немного обо мне</h1>
                <p class="lead my-3" >Оставь надежду всяк сюда входящий....</p>
            </div>
        </div>
        <main role="main" class="container bg-white p-4">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <h3 class="pb-4 mb-4 font-italic border-bottom">
                        Admin
                    </h3>

                    <div class="blog-post">
                        <h2 class="blog-post-title">Вступление</h2>

                        <p>Автору данного блога было абсолютно нечего делать долгими летними вечерами, поэтому он занялся блокнотомарательством и родил данный блог</p>
                        <hr>
                        <p>В данном блоге можно встретить статьи на самые разные темы, преимущественно за авторством создателя. Вы также можете <a href="blog/add">поучаствовать в развитии</a> и редактировании блога.</p>
                        <blockquote>
                            <p>Все статьи проходят отбор. <strong>Любые утверждения выражают исключительно мнение авторов.</strong> Создатель блога не обязательно их поддерживает.</p>
                        </blockquote>
                        <p>Я буду рад любым <em>проверенным</em> статьям. Если вы давно хотели поделиться чем-то от себя, либо не могли найти применение абсолютно бесполезному, но интересному факту - это ваш шанс!</p>
                        <hr>
                        <h2>О создателе</h2>
                        <p>Разумеется, речь идет не о Создателе всего сущего, но о создателе данного сайта. Это бедный на данный момент но амбициозный студент одного из ведущих IT-факультетов страны, который решил взять перекур от технических документаций и создать уголок для дремлющего на задворках души притесненного гуманитария. В свободное время он увлекается различными интеллектуальными развлечениями, такими как шахматы или квизы, размышляет о бренности бытия, а теперь еще и ведет блог. Не судите сторого, проект учебный и создавался исключительно по наитию.</p>
                        <hr>
                        <h3>Правила блога</h3>
                        <p>Предлагать свои статьи может абсолютно любой зарегистрированный пользователь, но в блог они попадают не сразу. Первоначально статьи проверяет администратор, который может заблокировать либо разместить вашу статью, возможно, предварительно её отредактировав (в этом случае это будет отображено в авторах статьи).</p>
                        <p>Для того, чтобы ваша статья была размещена в вашем варианте, просьба придерживаться следющих правил:</p>
                        <ol>
                            <li>Статья должна быть сознательной. Неважно, будет она нести исключительно познавательный или развлекательный характер, но в ней должен быть явно виден посыл</li>
                            <li>Не использовать ненормативную лексику. Поверьте, автор преуспел в ней не меньше вас. Пусть хотя бы здесь статьи будут иметь цензуру </li>
                            <li>Использовать проверенные факты</li>
                        </ol>
                        <p><em>Желаю удачи в саморазвитии!</em></p>
                    </div><!-- /.blog-post -->
                </div><!-- /.blog-main -->

                <aside class="col-md-4 blog-sidebar">
                    <div class="p-4 mb-3 bg-light rounded">
                        <img th:src="@{images/my_avatar.gif}"/>
                    </div>

                    <div class="p-4">
                        <h4 class="font-italic">Последние статьи блога:</h4>
                        <ol class="list-unstyled mb-0">
                            <div th:each="el : ${posts}">
                            <li><a th:href="'/blog/'+${el.id}"><div th:text="${el.title}"/> </a></li>
                            </div>
                        </ol>
                    </div>

                    <!--<div class="p-4">
                        <h4 class="font-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>-->
                </aside><!-- /.blog-sidebar -->

            </div><!-- /.row -->

        </main>

        <header th:insert="blocks/footer :: footer"/>
    </div>
</body>
</html>